<h1>My Parrot</h1>

<img src="https://bossip.files.wordpress.com/2014/01/shutterstock_83580814.jpg?w=700">
<br>
Say something to the Parrot!

<form action="/parrot" method="post">
  <input type="text" name="says">
  <input type="submit" value="Speak!">
</form>
<%= @message %>
