<h1 style="text-align: center;">Artist:</h1>
<h2 style="text-align: center;">
  <%= @artist_name %>
  <br>
  <br>
Tour Dates:
  <%= @artist_tour %>
<br>
Check Out the Music Here!

<a href="<%= @youtube_url %>" target="_blank">
<img src="http://www.clipartbest.com/cliparts/yco/gja/ycogjae7i.png" height="42" width="42" />
</a>
</h2>
