<h1 style="text-align: center;"><%= @quote %></h1>
<div style="text-align: center;"><img src="<%= @image_url %>" /></div>
<br>
<h2 style="text-align: center;"><a href="<%= @google_url %>" target="_blank">Google It!</a></h2>
